* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
body {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  background-color: rgb(238, 238, 238);
  width: 100%;
  height: 100vh;
  box-sizing: inherit;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
}
.w-50 {
  width: 50%;
}
.w3-half {
  color: #fff;
  background-color: #000;
  text-align: center;
  padding: 16px;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 36px;
}
.w3-button {
  color: #fff;
  background-color: #000;
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  width: 100%;
  text-decoration: none;
}
.hover1:hover {
  background-color: rgb(122, 122, 150);
}
.hover2:hover {
  background-color: rgb(89, 163, 137);
}
.hover3:hover {
  background-color: grey;
}
.hover4:hover {
  background-color: rgb(202, 126, 76);
}
.image-aboutme {
  width: 50%;
  margin: 16px;
  border-radius: 50%;
  vertical-align: middle;
  border-style: none;
}
.half2 {
  background-color: #607d8b;
}
.p-aboutme {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left;
  font-size: 15px;
  padding: 0 16px;
}
.w3-padding64 {
  padding: 64px 0;
}
.w3-half-img {
  width: 50%;
  float: left;
}
.half3 {
  background-color: rgb(255, 252, 252);
  padding: 0;
}
.mywork {
  color: #000;
}
.w3-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}
.w3-white {
  background-color: white;
  color: #000;
}
.half4 {
  background-color: #3f51b5;
}
.container {
  padding: 0 16px;
}
th,
td {
  padding: 8px;
}
.year {
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}
.half5 {
  background-color: #616161;
}
.info {
  margin: 15px 0;
}
.w3-form {
  color: #000;
  background-color: #fff;
  padding: 32px 16px;
}
.section {
  margin-top: 16px;
  margin-bottom: 16px;
}
.button-send {
  color: #fff;
  background-color: #009688;
  float: right;
  padding: 8px 16px;
  border: none;
  display: inline-block;
  cursor: pointer;
}
.button-send:hover {
  color: #000;
  background-color: rgb(196, 190, 190);
}
.half6 {
  background-color: #009688;
}
.w3-input {
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  display: block;
  width: 100%;
}
.contact {
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
}
.contact p {
  opacity: 0.5;
}
.website-footer {
  color: #fff;
  background-color: #000;
  padding: 16px;
}
footer a {
  color: inherit;
}
footer p {
  margin-top: 15px;
  margin-bottom: 15px;
}
