* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  width: 700px;
  height: 100px;
  padding-left: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 80px;
}
h2 {
  line-height: 40px;
}
